{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} {% trans "退出" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

        <h2>{% trans "亲，你要走了吗？" %}</h2>


        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
        <button class="btn green big " type="submit">{% trans '点击这里速速离开' %}<i class="m-icon-big-swapright m-icon-white"></i></button>
        </form>
    </div>
  </div>
</div>

{% endblock %}

